[Unit]
Description=Fakeports
After=network.target auditd.service cloud-final.service

[Service]
ExecStart=/usr/local/bin/fakeportsd start
ExecReload=/usr/local/bin/fakeportsd restart
KillMode=control-group
Restart=on-failure
Type=daemon

[Install]
WantedBy=multi-user.target
Alias=fakeports.service